{% load static i18n %}
<div class="tool shift-down" data-component="devices">

  {% include "common/v2/tool_base.html" %}

  <div class="templates">

    {% include "devicectl/v2/tool/devices/form.html" %}
    {% include "devicectl/v2/tool/devices/form-sot.html" %}
    {% include "devicectl/v2/tool/devices/menu.html" %}
    {% include "devicectl/v2/tool/devices/list.html" %}
    {% include "devicectl/v2/tool/devices/bottom-menu.html" %}
    {% include "common/v2/app/delete_selected.html" %}

  </div>
</div>

