<div data-api-base="{% url "devicectl_api:device-list" org_tag=request.org.slug %}" data-template="device_widget">
    

    <div class="controls">

        <div class="row mb-3">
            <div class="col-4">
                <label class="form-label">Facility</label>
            </div>
            <div class="col-8">
                <span data-field="facility_slug"></span> -
                <span data-field="facility_name"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label class="form-label">Type</label>
            </div>
            <div class="col-8">
                <span data-field="type"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <label class="form-label">Management IPs</label>
            </div>
            <div class="col-8">
                <span data-field="management_ip_address_4"></span> -
                <span data-field="management_ip_address_6"></span>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-4">
                <button class="primary col-md-auto btn d-flex" data-element="return_to_dashboard">
                    <div class="row align-items-center">
                        <div class="col label pe-0">Dashboard</div>
                        <div class="col-auto">
                            <span class="icon fullctl icon-as"></span>
                        </div>
                    </div>
                </button>

            </div>
        </div>


    </div>
</div>

<div data-api-base="{% url "devicectl_api:device-list" org_tag=request.org.slug %}" data-template="device_operational_status">
    <div class="alert alert-danger error-message" style="display:none">
        <span data-field="error_message"></span>
    </div>
</div>