{% load i18n static %}
<table class="table table-borderless list-table mt-3" data-api-base="{% url "devicectl_api:device-reports" org_tag=request.org.slug device_id=0 %}" data-api-action="" data-template="device_reports">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Report Format" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="list-body">
    </tbody>
    <tbody class="templates">
        <tr data-template="row">
            <td data-field="created" class="highlight"></td>
            <td data-field="kind"></td>
            <td class="right">
                <a class="button btn" data-element="button_view_report" data-action="toggle_view_report" target="_blank">
                    <div class="row align-items-center">
                        <div class="col label pe-0">View</div>
                        <div class="col-auto">
                            <span class="icon icon-view"></span>
                        </div>
                    </div>
                </a>

                <a class="button btn" data-element="button_download_report" data-action="download_report" target="_blank">
                    <div class="row align-items-center">
                        <div class="col label pe-0">Download</div>
                        <div class="col-auto">
                            <span class="icon icon-download"></span>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr data-template="row" class="report-container" style="display:none;">
            <td colspan="3">
                <div class="report">

                </div>
            </td>
        </tr>
    </tbody>
</table>