{% load static i18n %}
<form data-template="form_facility_page"
  data-api-base="{% url "devicectl_api:facility-list" org_tag=request.org.slug  %}"
  data-api-action=""
  data-api-method="POST"
  >
  <div class="row controls" style="display:flex">
    <div class="col-12">

      <div class="row mb-3">
        <div class="col-12" data-api-submit="yes">
          <label for="reference" class="form-label">{% trans "Reference ID (developer-mode)" %}</label>
          <input type="text" value="32" class="form-control" id="reference" name="reference" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12" data-api-submit="yes">
          <label for="name" class="form-label">{% trans "Name" %}</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12" data-api-submit="yes">
          <label for="address1" class="form-label">{% trans "Address" %}</label>
          <input type="text" class="form-control" id="address1" name="address1" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12" data-api-submit="yes">
          <label for="floor" class="form-label">{% trans "Floor" %}</label>
          <input type="text" class="form-control" id="floor" name="floor" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12" data-api-submit="yes">
          <label for="zipcode" class="form-label">{% trans "Postal code" %}</label>
          <input type="text" value="32" class="form-control" id="zipcode" name="zipcode" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12" data-api-submit="yes">
          <label for="city" class="form-label">{% trans "City" %}</label>
          <input type="text" value="32" class="form-control" id="city" name="city" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-12" data-api-submit="yes">
          <label for="country" class="form-label">{% trans "Country" %}</label>
          <input type="text" value="32" class="form-control" id="country" name="country" />
        </div>
      </div>
    </div>
  </div>
  <div class="row controls marg-top-lg">
    <div class="col-6 left">
      <button data-element="rs_delete"
        data-confirm="{% trans "Are you sure you want to delete this facility?" %}"
        data-api-base="{% url "devicectl_api:facility-list" org_tag=request.org.slug  %}"
        data-api-action=""
        data-api-method="delete"><span class="icon fullctl icon-delete"></span><span class="label">{% trans "Delete" %}</span></a>
    </div>
    <div class="col-6 right">
      <button class="submit"><span class="icon fullctl icon-edit"></span><span class="label">{% trans "Save" %}</span></a>
    </div>
  </div>
</form>


