{% load static i18n %}
<table
  class="table table-borderless list-table"
  data-api-base="{% url "devicectl_api:device-virtual-ports" org_tag=request.org.slug device_id=0 %}"
  data-api-action=""
  data-template="list">
  <thead>
    <tr>
      <th data-sort-target="name" class="sortable-button">{% trans "Name" %}</th>
      <th data-sort-target="logical_port" class="sortable-button">{% trans "Logical Port" %}</th>
      <th data-sort-target="vlan_id" class="sortable-button">{% trans "VLAN id" %}</th>
      <th class="right">{% trans "Options" %}</th>
    </tr>
  </thead>
  <tbody class="list-body">
  </tbody>
  <tbody class="templates">
    <tr data-template="row">
      <td data-field="display_name" class="highlight"></td>
      <td data-field="logical_port_name"></td>
      <td data-field="vlan_id"></td>
      <td data-field="controls" class="right">
        <a class="button btn" data-action="edit_virtual_port" data-hover="show">
          <span class="icon icon-edit"></span>
        </a>
        <a class="button btn delete" data-hover="show" data-element="delete_virtual_port" data-api-method="DELETE" data-confirm="Delete virtual port?" data-api-base="{% url "devicectl_api:virtual_port-detail" org_tag=request.org.slug virtual_port_id=0 %}">
          <span class="icon icon-delete">
        </a>
        <button class="btn">
          <span class="icon icon-options"></span>
        </button>
      </td>
    </tr>
    <!--
    <tr data-template="row" class="secondary">
      <td class="indent"></td>
      <td class="property" colspan="5">
        <div class="row">
        </div>
      </td>
    </tr>
    -->

  </tbody>
</table>

