{% extends "common/app/base.html" %}
{% load static i18n %}
{% block "title" %}fullctl / device{% endblock %}

{% block "js" %}
{{ block.super }}
<script src="{% static "devicectl/devicectl.js" %}" type="text/javascript"></script>
{% endblock %}

{% block "css" %}
{{ block.super }}
{% endblock %}

{% block "header_middle" %}
<img src="{% static "common/icons/devicectl-logo-darkbg.svg" %}" alt="devicectl">
{% endblock %}

{% block "header_right" %}
{% with app_id="devicectl" %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block "app_content_toolbar" %}

{% endblock %}

{% block "app_content_menu" %}
<div class="menu-deco-border"></div>
{% endblock %}

{% block "app_content_main" %}
{% if verified_asns %}
<div class="row">
  <div class="col-12">
  {% for asn, network in verified_asns.items %}
  <span class="net_name">{{ network.name }}</span> <span class="asn">(AS{{ asn }})</strong>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  </div>
</div>
{% endif %}

{% endblock %}

{% block "templates" %}
{{ block.super }}

{% endblock %}
