{% load static i18n %}
<table
  class="table table-borderless"
  data-api-base="{% url "devicectl_api:logical_port-list" org_tag=request.org.slug %}"
  data-api-action=""
  data-template="list">
  <thead>
    <tr>
      <th data-sort-target="name" class="sortable-button">{% trans "Name" %}</th>
      <th data-sort-target="channel" class="sortable-button">{% trans "Channel" %}</th>
      <th data-sort-target="trunk" class="sortable-button">{% trans "Trunk" %}</th>
      <th data-sort-target="description" class="sortable-button">{% trans "Description" %}</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="list-body">
  </tbody>
  <tbody class="templates">
    <tr data-template="row">
      <td data-field="display_name" class="highlight"></td>
      <td data-field="channel"></td>
      <td data-field="trunk"></td>
      <td data-field="description"></td>
      <td data-field="controls" class="right">
        <div class="row">
          <div class="col-xs-12 col-lg-6">
            <a data-action="edit_logical_port"><span class="icon fullctl icon-edit"></span><span class="label fullctl">{% trans "Edit" %}</span></a>
          </div>
          <div class="col-xs-12 col-lg-6">
        <a
          data-api-action="{id}"
          data-api-callback="remove"
          data-confirm="Remove logical_port?"
          data-api-method="DELETE"><span class="icon fullctl icon-delete"></span><span class="fullctl label">{% trans "Delete" %}</span></a>
          </div>
        </div>
      </td>
    </tr>
    <!--
    <tr data-template="row" class="secondary">
      <td class="indent"></td>
      <td class="property" colspan="5">
        <div class="row">
        </div>
      </td>
    </tr>
    -->

  </tbody>
</table>

