{% load i18n %}
<div data-template="facility_wizard" class="wizard wiz-step-1">
  <p class="wiz-step wiz-step-1">
  {% blocktrans %}
  If your facility is listed on PeeringDB you can import it directly from there - search for a partial name and click continue on any of the entries below to use them as a starting point. Alternatively you can also make PeeringDB the source of truth for a facility.
  {% endblocktrans %}

    <div class="row wiz-step wiz-step-1">
      <div class="col-12">
        <input class="form-control" placeholder="Find your facility in PeeringDB ..."  id="pdb-fac-search">
      </div>
    </div>
  </p>


  <div class="pdbfacility-list wiz-step wiz-step-1" style="position:relative">

  </div>

  <p class="center marg-top-lg wiz-step wiz-step-1">
    <button class="primary btn" data-element="button_start_fresh" data-wizard-step="2">
      <div class="row align-items-center">
        <div class="col label pe-0">{% trans "No thanks, I want to start fresh" %}</div>
        <div class="col-auto">
          <span class="icon icon-edit"></span>
        </div>
      </div>
    </button>
  </p>

  <div class="rs-form marg-top-lg wiz-step wiz-step-2">

  </div>

</div>

<table
  class="table"
  data-api-base="{% url "devicectl_api:pdbfacility-list" org_tag=request.org.slug %}"
  data-api-action=""
  data-template="facility_pdb_list">

  <thead>
    <tr>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Country" %}</th>
      <th>{% trans "City" %}</th>
      <th></th>
    </tr>
  </thead>


  <tbody class="list-body"></tbody>


  <tbody class="templates">

    <tr data-template="row" class="rs-row">
      <td data-field="name"></td>
      <td data-field="country"></td>
      <td data-field="city"></td>
      <td class="right no-wrap" data-field="controls">
        <button class="button primary btn | small">
          <div class="row align-items-center">
            <div class="col label pe-0">{% trans "Continue" %}</div>
            <div class="col-auto center">
              <span class="icon icon-edit"></span>
            </div>
          </div>
        </button>
      </td>
    </tr>

  </tbody>

</table>
